
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Transporter Login</h1>
<form action="/login" method="post">
    <label for="username">Select Transporter:</label><br>
    <select id="username" name="username" required>
        {% for transporter in transporters %}
        <option value="{{ transporter }}">{{ transporter }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Login">
</form>
</body>
</html>
